{% comment %} templates/components/streamfield/blocks/card_section_block.html {% endcomment %} 
{% load wagtailcore_tags %} 

 

{% comment %} Affichage du titre de la section {% endcomment %} 

<section class="card-section-wrapper" style="margin-bottom: 50px; margin-top: 20px;"> 
 

{% include "components/streamfield/blocks/heading2_block.html" with large_spacing=True value=value.heading sr_only=value.sr_only_label %} 

 

<div class="card-section">  

    {% for card in value.cards %} 

        {# 'card' ici est un item du ListBlock. #} 

        {# On utilise include_block pour que Wagtail cherche le template défini dans CardBlock.Meta #} 

        {% include_block card %} 

    {% endfor %} 

</div> 

</section> 

 

