{% comment %} templates/components/streamfield/blocks/card_block.html {% endcomment %} 
{% load wagtailcore_tags %} 
{% load wagtailimages_tags %} 

 

<div class="card"> 



    {# Utilisation de la méthode get_image définie dans CardStructValue #} 

    {% with card_img=self.get_image %} 

        {% if card_img %} 

            <div class="card-image"> 

                {# Assurez-vous d'avoir chargé wagtailimages_tags en haut #} 

                {% image card_img fill-300x200 %} 

            </div> 

        {% endif %} 

    {% endwith %} 

 

    <h3>{{ self.heading }}</h3>  

  

    <div class="card-description">  

        {# On appelle la méthode get_description() au lieu du champ brut #} 

        {{ self.get_description }}  

    </div>  

 

    {% if self.link %}  

        <div class="card-links">  

            {% for block in self.link %}  

                {% include_block block %}  
	
            {% endfor %}  

        </div>  

    {% endif %}  

</div> 
